@model VisitorLog_PBFD.ViewModels.PathViewModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2>Location Paths Report</h2>
    <ul>
        @foreach (var path in Model.Paths)
        {
            <li>@path</li>
        }
    </ul>
</div>
